@import "../mixins.module";
@import "../variables.module";

.container {
  margin-top: 2vh;
  z-index: 10;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  &_mistake {
    @include bl-flex-center(flex-start, center, row, 2%);
    @include wh-ht(85%, 5vh);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    background: #151515;
    color: darkgray;

    box-shadow: 0 0 3px #575757;

    & > img {
      width: 7vw;
    }
  }
}
