@import "../mixins.module";
@import "../variables.module";

.container {
  @include bl-flex-center(center, center, column, 1vh);
  max-width: 450px;
  width: 100%;
  margin: 2vh auto;
  z-index: 2;
  position: absolute;

  &_mistake {
    @include bl-flex-center(center, center, row, 3%);
    @include wh-ht(90%, 5vh);
    padding: 0.5vh 3%;
    cursor: pointer;
    border-radius: 15px;
    background: #101010;
    color: darkgray;
    box-shadow:  0 0 5px black;

    & > img {
      height: 3vh
    }
  }
}
