@import '../mixins.module';
@import "../variables.module";
@import "../common.module";

.container {
  @include bl-position-fx(90vh);
  position: fixed;
  width: 90%;
  z-index: 1;
  overflow: hidden;

  &_content {
    @include bl-flex-center(center, center, row, 0);
    @include wh-ht-r(100%, auto, 30px);
    padding: 2px;

    &_links {
      @include bl-flex-center(space-around, center, row, 5%);
      @include wh-ht-r(99%, 50px, 30px);



      &_ellipse {
        @extend .ellipse;
        @include wh-ht(7%, 1vh);
        @include ellipse-default(-3.3vh, 8px, $lemon);
        z-index: 1;
      }

      & > button {
        @include bl-flex-center(center, center, row, 0);
        @include wh-ht(80%, 5vh);
        @include back-bor-none();
      }
    }
  }
}

@media(max-height: 800px) {
  .container {
    top: 88vh;

    &_content {
      &_links {
        &_ellipse {
        }
      }
    }
  }
}

@media(min-height: 1024px) {
  .container {
    top: 90vh;

    &_content {
      &_links {
        &_ellipse {
          @include wh-ht(4%, 1vh);
          transform: translateY(-3.2vh);
        }
      }
    }
  }
}

