@import "../mixins.module";
@import "../variables.module";
@import "../common.module";

.container {
  @include bl-position-fx($height-page);
  @include bl-flex-center(center, center, row, 0);
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  z-index: 10;

  &_content {
    @include bl-flex-center(center, center, row, 0);
    @include wh-ht-r(90%, auto, 30px);
    padding: 2px;

    &_links {
      @include bl-flex-center(space-around, center, row, 5%);
      @include wh-ht-r(100%, 50px, 30px);

      &_ellipse {
        @extend .ellipse;
        @include wh-ht(7%, 1vh);
        @include ellipse-default(-3.3vh, 8px, $lemon);
        z-index: 1;
      }

      & > button {
        @include bl-flex-center(center, center, row, 0);
        @include wh-ht(100%, 5vh);
        @include back-bor-none();
      }
    }
  }
}
