@import '../mixins.module';
@import '../variables.module';

.container {
  @include bl-flex-center(center, center, row, 0);
  width: 100%;

  & > p {
    @include width-sz-al-cl(90px, 60px, center, $white);
    margin: 0;
  }

  p:nth-child(even) {
    width: 3%;
  }
}

@media(max-height: 800px) {
  .container {
    & > p {
      font-size: 45px;
    }

    p:nth-child(even) {
      width: 0;
    }
  }
}
