@import "../mixins.module";
@import "../variables.module";
@import "../common.module";

.container {
  @include bl-flex-center(center, center, column, 0);
  max-width: 450px;
  @include wh-ht(100%, 100vh);
  @include border-im-sce($back-linear-gradient-top-bottom, auto);
  position: fixed;
  color: white;
  border-top: 0.4vh solid;
  border-bottom: 0.4vh solid;

  & > img {
    margin-top: 35%;
  }

  &_content {
    @include bl-flex-center(center, center, column, 15px);
    @include wh-ht(100%, 40vh);

    &_header {
      @include bl-flex-center(center, center, column, 5px);

      & > p {
        @include width-sz-al-cl(200px, 15px, center, auto);
        margin: 0;
      }
    }

    &_winning {
      @include bl-flex-center(center, center, row, 2px);
      @include wh-ht-r(85%, 80px, 60px);
      position: relative;
      background: $back-linear-gradient;
      color: $grey;

      input {
        @include width-sz-al-cl(50%, 50px, right, white);
        @include back-bor-none();
        min-width: 10px;
        max-width: 160px;
        height: 55px;
      }

      &:before {
        @include wh-ht-r(100%, 80px, 60px);
        @include content-block($back-gradient-value-ton, -2px, -2px);
        background: $back-gradient-value-ton;
        padding: 2px;
      }

      & > p {
        color: white;
        text-wrap: nowrap;
        overflow: hidden;
        padding-top: 4px;
        font-size: 50px;
      }
    }

    &_button {
      @include bl-flex-center(center, center, row, 0);
      width: 100%;
      margin-top: 5%;

      & > button {
        width: 40%;
      }

      &_elipse {
        @extend .ellipse;
        @include wh-ht(45%, 5vh);
        filter: blur(25px);
      }
    }
  }

  & > p {
    @include width-sz-al-cl(339px, auto, center, $grey);
    margin-top: 20vh;
  }
}
