@import '../mixins.module';
@import '../variables.module';
@import '../common.module';

.container {
  @include bl-flex-center(center, center, column, 0);
  @include wh-ht(100%, 99.4vh);
  @include border-im-sce($back-linear-gradient-top-bottom, auto);
  position: fixed;
  color: white;
  border-top: 0.4vh solid;
  border-bottom: 0.4vh solid;

  & > img {
    margin-top: 10%;
  }


  &_content {
    @include bl-flex-center(center, center, column, 15px);
    @include wh-ht(100%, 40vh);

    &_header {
      @include bl-flex-center(center, center, column, 5px);

      & > p {
        @include width-sz-al-cl(191px, 16px, center, auto);
        margin: 0;
      }
    }

    &_winning {
      @include bl-flex-center(center, center, row, 2px);
      @include wh-ht-r(320px, 80px, 60px);
      position: relative;
      background: $back-linear-gradient;
      color: $grey-light;

      & > input {
        @include width-sz-al-cl(auto, 50px, right, white);
        @include back-bor-none();
        min-width: 10px;
        max-width: 160px;
        height: 55px;
      }

      &:before {
        @include wh-ht-r(100%, 80px, 60px);
        background: $back-gradient-value-ton;
        position: absolute;
        content: "";
        left: -2px;
        top: -2px;
        padding: 2px;
        z-index: -1;
      }

      & > p {
        padding-top: 4px;
        font-size: 50px;
      }
    }

    &_button {
      @include bl-flex-center(center, center, row, 0);
      width: 100%;
      z-index: 1;
      margin-top: 10%;

      & > button {
        width: 30%;
      }

      &_elipse {
        @extend .ellipse;
        @include wh-ht(45%, 4vh);
        filter: blur(30px);
      }

    }
  }

  & > p {
    @include width-sz-al-cl(339px, auto, center, $grey-light);
    margin-top: 20vh;
  }

}

@media(max-height: 900px) {
  .container {
    height: 99.3vh;
  }
}

@media(min-height: 1024px) {
  .container {
    height: 99.25vh;

    &_content {
      &_button {
        &_elipse {
          @extend .ellipse;
          @include wh-ht(40%, 3vh);
          filter: blur(35px);
        }
      }
    }
  }
}
