@import "../mixins.module";
@import "../variables.module";
@import "../common.module";

.container {
  @include bl-flex-center(center, center, column, 0);
  @include wh-ht(100%, 99.4vh);
  @include border-im-sce($back-linear-gradient-top-bottom, auto);
  position: fixed;
  box-shadow: 0 0 15px $green-ellipse;
  color: white;
  border-top: 0.4vh solid;
  border-bottom: 0.4vh solid;

  & > img {
    margin-top: 10%;
  }

  &_content {
    @include bl-flex-center(center, center, column, 15px);
    @include wh-ht(100%, 40vh);

    &_header {
      @include bl-flex-center(center, center, column, 5px);

      & > p {
        @include width-sz-al-cl(191px, 16px, center, auto);
        margin: 0;
      }
    }

    &_winning {
      @include bl-flex-center(center, center, row, 2px);
      @include wh-ht-r(85%, 80px, 60px);
      position: relative;
      background: $back-linear-gradient;
      color: $grey;

      input {
        @include width-sz-al-cl(50%, 50px, right, white);
        @include back-bor-none();
        min-width: 10px;
        max-width: 160px;
        height: 55px;
      }

      &:before {
        @include wh-ht-r(100%, 80px, 60px);
        @include content-block($back-gradient-value-ton, -2px, -2px);
        background: $back-gradient-value-ton;
        padding: 2px;
      }

      & > p {
        text-wrap: nowrap;
        overflow: hidden;
        padding-top: 4px;
        font-size: 50px;
      }
    }

    &_button {
      @include bl-flex-center(center, center, row, 0);
      width: 100%;
      margin-top: 10%;

      & > button {
        width: 40%;
      }

      &_elipse {
        @extend .ellipse;
        @include wh-ht(45%, 5vh);
        filter: blur(25px);
      }
    }
  }

  & > p {
    @include width-sz-al-cl(339px, auto, center, $grey);
    margin-top: 20vh;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    height: 99.3vh;

    &_content {
      &_button {
        &_elipse {
          display: none;
        }
      }
    }
  }
}

@media (max-height: 900px) {
  .container {
    height: 99.3vh;

    &_content {
      &_button {
        &_elipse {
          @include wh-ht(40%, 3vh);
          filter: blur(35px);
        }
      }
    }
  }
}

@media (min-height: 1024px) {
  .container {
    height: 99.25vh;

    &_content {
      &_button {
        & > button {
          width: 25%;
        }

        &_elipse {
          @include wh-ht(40%, 3vh);
          filter: blur(35px);
        }
      }

      &_winning {
        justify-content: center !important;

        & > input {
          width: 100% !important;
          max-width: 300px;
        }
      }
    }
  }
}

@media (max-height: 680px) {
  .container {
    height: 99.3vh;

    &_content {
      &_button {
        &_elipse {
          @include wh-ht(45%, 5vh);
          filter: blur(35px);
        }
      }
    }
  }
}
