@import '../mixins.module';
@import '../variables.module';
@import '../common.module';

.container {
  @include bl-flex-center(space-between, center, column, 0);
  @include wh-ht(100%, 90vh);

  & > p {
    line-height: 20px;
  }

  &_connect {
    flex-grow: 1;
    @include bl-flex-center(center, center, column, 2%);

    & > p {
      @include width-sz-al-cl(278px, 14px, center, $grey);
    }
  }

  &_connected {
    @include bl-flex-center(center, center, column, 2%);
    flex-grow: 1;
    z-index: 1;
    margin-bottom: 10vh;


    & > p {
      @include width-sz-al-cl(278px, 14px, center, $grey);
      margin: 0;
    }

    p:nth-child(2) {
      @include width-sz-al-cl(333px, 60px, center, white);
    }

    & > button {
      width: 55%;
      margin-top: 6%;
    }
  }

  &_footer {
    @include bl-flex-center(flex-end, center, column, 2%);

    & > img {
      z-index: 2;
    }

    &_back {
      @extend .ellipse;
      @include wh-ht(100%, 14vh);
      box-shadow: 0 0 80px $yellow-ellipse;
      filter: blur(60px);
    }
  }
}

@media (max-height: 680px) {
  .container {
    &_connected {
      & > button {
        height: 5vh;
      }
    }
  }
}

@media (min-height: 1024px) {
  .container {
    &_footer {
      & > img {
        width: 150%;
      }

      &_back {
        @include wh-ht(100%, 16vh);
        filter: blur(100px);
      }
    }
  }
}
