@import "../mixins.module";
@import "../variables.module";
@import "../common.module";

.container {
  @include bl-flex-center(center, center, column, 0);
  @include wh-ht(100%, $height-page);
  //position: fixed;

  &_connect {
    @include bl-flex-center(flex-end, center, column, 2%);
    @include grow-marginB(1, 17vh);

    & > p {
      @include width-sz-al-cl(100%, 16px, center, $grey);
    }
  }

  &_connected {
    @include bl-flex-center(flex-end, center, column, 2%);
    @include grow-marginB(1, 17vh);

    & > p {
      @include width-sz-al-cl(278px, 15px, center, $grey);
      margin: 0;
    }

    p:nth-child(2) {
      @include width-sz-al-cl(333px, 60px, center, white);
    }
  }

  &_footer {
    @include bl-flex-center(flex-end, center, column, 2%);
    & > img {
      width: 100%;
    }

    &_back {
      @extend .ellipse;
      @include wh-ht(100%, 14vh);
      box-shadow: 0 0 80px $yellow-ellipse;
      filter: blur(60px);
    }
  }
}
