@import "../mixins.module";
@import "../variables.module";
@import "../common.module";

.container {
  @include bl-flex-center(flex-start, center, column, 0);
  @include wh-ht(100%, 89vh);
  border-radius: 30px;
  border-top: 2px solid;
  border-image-source: $back-linear-gradient-top-bottom;
  border-image-slice: 1;

  &_list {
    @include bl-flex-center(flex-start, center, row, 0);
    @include wh-ht-r(80%, 40px, 30em);
    margin-top: 1vh;
    position: relative;
    background: $back-linear-gradient-left;
    z-index: 1;

    &_hero {
      padding: 5px 5px;
      @include bl-flex-center(space-around, center, row, 0px);
      @include wh-ht(50%, 40px);
      z-index: -1;

      & > div {
        @include bl-flex-center(center, center, row, 0px);
        @include wh-ht-r(33px, 32px, 30em);
        background: $back;

        & > img {
          width: 95%;
          height: 95%;
          scale: 1.1;
        }
      }
    }

    & > button {
      @include wh-ht(55%, 40px);
      left: 45%;
      position: absolute;
    }
  }

  &_bl {
    @include bl-flex-center(flex-start, center, column, 0);
    flex-grow: 1;
    width: 100%;

    &_footer {
      @include bl-flex-center(space-between, center, column, 10%);
      @include wh-ht(100%, 15vh);
      margin-top: 7vh;

      &_button {
        @include bl-flex-center(center, center, column, 0);
        width: 100%;

        &_ellipse {
          @extend .ellipse;
          @include wh-ht(250px, 40px);
          filter: blur(30px);
        }
      }
    }
  }

  &_turtles {
    @include bl-flex-center(flex-start, center, column, 0);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 40vh;
    position: relative;
    width: 100%;
    background: $home-background;
    overflow: hidden;

    &_ton {
      @include bl-flex-center(center, center, column, 0);
      @include wh-ht-r(116px, 52px, 30px);
      @include bl-position-ab(10vh);
      z-index: 2;
      left: 7%;
      background: $ellipse-background-gradient;

      &:before {
        @include wh-ht-r(98%, 97%, 30px);
        background: black;
        content: "";
        position: absolute;
      }

      & > p {
        z-index: 0;
        margin: 0;

        &:nth-child(1) {
          color: $grey;
          font-size: 12px;
        }

        &:nth-child(2) {
          color: white;
          font-size: 16px;
        }
      }
    }

    &_ellipse {
      @extend .ellipse;
      @include wh-ht(5%, 2vh);
      top: -2vh;
      filter: blur(8px);
      background: rgba(186, 189, 28, 1);
      z-index: 1;
    }

    &_ellipse_shadow {
      @extend .ellipse;
      @include wh-ht(20%, 1vh);
      top: 1vh;
      filter: blur(20px);
      background: rgba(186, 189, 28, 1);
      z-index: 2;
    }

    &_header {
      @include bl-flex-center(center, center, row, 10px);
      width: 100%;
      height: 7vh;
      color: white;
      position: absolute;
      z-index: 5;

      & > p {
        @include width-sz-al-cl(130px, 16px, center, auto);
        font-family: "DigitalICG";
      }
    }

    &_turtle {
      height: 34vh;
      width: 100%;
      z-index: 3;

      &_swiper {
        height: 40vh;

        &_slider {
          @include bl-flex-center(center, flex-end, row, 0);
          position: relative;
          width: 50%;

          & > img {
            position: relative;
            top: -8vh;
            height: 18vh;
          }

          &_active {
            position: relative;
            top: -9vh !important;
            transform: scale(1.9);
          }
        }
      }
    }

    &_content {
      margin-top: 8vh;
      align-self: flex-end;
      position: absolute;
      width: 100%;
      height: 30vh;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      background: linear-gradient(
                      180.21deg,
                      #71893f 2.04%,
                      #39712a 50%,
                      #000000 99.82%
      );
    }
  }
}

@media (max-height: 800px) {
  .container {
    &_turtles {
      &_ton {
        @include bl-flex-center(center, center, column, 0);
        @include wh-ht-r(106px, 42px, 30px);
        @include bl-position-ab(9vh);

        & > p {
          z-index: 0;
          margin: 0;

          &:nth-child(1) {
            color: $grey;
            font-size: 10px;
          }

          &:nth-child(2) {
            color: white;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (min-height: 1024px) {
  .container {
    &_turtles {
      &_ton {
        @include bl-flex-center(center, center, column, 0);
        @include wh-ht-r(116px, 52px, 30px);
        @include bl-position-ab(13vh);
        left: 7%;
      }

      &_turtle {
        &_swiper {
          &_slider {
            & > img {
              height: 15vh;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 540px) and (max-device-height: 720px) {
  .container {
    &_turtles {
      &_ton {
        @include bl-flex-center(center, center, column, 0);
        @include wh-ht-r(104px, 40px, 30px);
        @include bl-position-ab(10vh);
        left: 13%;
      }
    }
  }
}

@media only screen and (min-device-width: 910px) and (max-device-height: 1368px) {
  .container {
    &_turtles {
      &_ton {
        @include bl-flex-center(center, center, column, 0);
        @include wh-ht-r(116px, 52px, 30px);
        @include bl-position-ab(13.5vh);
        left: 6%;
      }
    }
  }
}

@media only screen and (max-device-width: 344px) and (max-device-height: 882px) {
  .container {
    &_turtles {
      &_ton {
        @include bl-flex-center(center, center, column, 0);
        @include wh-ht-r(104px, 40px, 30px);
        @include bl-position-ab(10vh);
        left: 2%;

        & > p {
          z-index: 0;
          margin: 0;

          &:nth-child(1) {
            color: $grey;
            font-size: 10px;
          }

          &:nth-child(2) {
            color: white;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1020px) and (max-device-height: 600px) {
  .container {
    &_turtles {
      &_ton {
        @include bl-flex-center(center, center, column, 0);
        @include wh-ht-r(104px, 40px, 30px);
        @include bl-position-ab(9vh);
        left: 16%;

        & > p {
          z-index: 0;
          margin: 0;

          &:nth-child(1) {
            color: $grey;
            font-size: 9px;
          }

          &:nth-child(2) {
            color: white;
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 410px) and (max-device-width: 414px) and (max-device-height: 736px) {
  .container {
    &_turtles {
      &_ton {
        @include bl-flex-center(center, center, column, 0);
        @include wh-ht-r(116px, 52px, 30px);
        @include bl-position-ab(9vh);
        left: 6%;
      }
    }
  }
}

@media only screen and (min-device-height: 805px) and (max-device-height: 812px) {
  .container {
    &_turtles {
      &_turtle {
        &_swiper {
          &_slider {
            & > img {
              height: 16vh;
            }
          }
        }
      }
    }
  }
}
