@import '../mixins.module';
@import '../variables.module';
@import '../common.module';

.container {
  @include bl-flex-center(flex-start, center, column, 0);
  width: 100%;

  &_bl {
    @include bl-flex-center(flex-start, center, column, 0);
    margin-top: 8%;
    width: 100%;

    &_border {
      @include wh-ht(100%, 1px);
      margin-top: 8%;
      background: $yellow-ellipse;
    }

    &_turtle {
      @include bl-flex-center(space-between, flex-start, row, 0px);
      width: 100%;


      &_content {
        @include bl-flex-center(flex-start, center, row, 0);
        @include wh-ht(50%, 12vh);
        color: white;

        &_elipse {
          @extend .ellipse;
          @include wh-ht(90%, 4vh);
          left: -30%;
          filter: blur(35px);
          background: $lime-background;
        }


        & > img {
          z-index: 2;
          height: 12vh;
        }

        & > p {
          width: 100px;
          font-family: DigitalICG;
        }
      }

      &_bet {
        @include bl-flex-center(space-around, center, column, 0);
        @include wh-ht(50%, 12vh);

        & > button {
          @include wh-ht(90% !important, 4.5vh !important);
        }

        & > p {
          @include bl-flex-center(center, center, row, 0);
          @include wh-ht-r(90%, 4.5vh, 30px);
          color: white;
          margin: 0;
          background: $back-linear-gradient;
        }
      }
    }
  }
}

@media(max-height: 800px) {
  .container {
    &_bl {
      &_turtle {
        &_content {
          &_elipse {
            left: -40%;
            filter: blur(25px);
          }
        }
      }
    }
  }
}

@media(min-height: 1024px) {
  .container {
    &_bl {
      &_turtle {
        &_content {
          @include bl-flex-center(flex-start, center, row, 8%);

          & > p {
            font-size: 17px;
          }

          & > img {
            height: 17vh;
          }

          &_elipse {
            @include wh-ht(90%, 5vh);
            left: -35%;
            filter: blur(45px);
          }
        }
      }
    }
  }
}
