@import "../mixins.module";
@import "../variables.module";
@import "../common.module";

.container {
  @include bl-flex-center(flex-start, center, column, 0);

  &_bl {
    @include bl-flex-center(flex-start, center, column, 0);
    width: 100%;

    &_border {
      @include wh-ht(100%, 1px);
      background: $yellow-ellipse;
    }

    &_turtle {
      @include bl-flex-center(space-between, flex-start, row, 0);
      width: 100%;

      &_content {
        @include bl-flex-center(flex-start, center, row, 0);
        position: relative;
        height: 18vh;
        color: white;
        width: 50%;

        &_elipse {
          @extend .ellipse;
          @include wh-ht(120%, 6vh);
          left: -13vw;
          filter: blur(25px);
          background: $lime-background;
        }

        & > img {
          height: 15vh;
        }

        & > p {
          margin: 0;
          font-family: DigitalICG;
        }
      }

      &_bet {
        @include bl-flex-center(space-around, center, column, 0);
        width: 50%;
        height: 18vh;
        color: white;

        & > button {
          @include wh-ht(90%, 4.5vh);
        }

        & > p {
          @include bl-flex-center(center, center, row, 0);
          @include wh-ht-r(90%, 4.5vh, 30px);
          margin: 0;
          background: $back-linear-gradient;
        }
      }
    }
  }
}

@media (min-height: 1024px) {
  .container {
    &_bl {
      &_turtle {
        &_content {
          &_elipse {
            @include wh-ht(120%, 7vh);
            left: -5vw;
            filter: blur(30px);
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    &_bl {
      &_turtle {
        &_content {
          &_elipse {
            @include wh-ht(120%, 9vh);
            left: -5vw;
            filter: blur(30px);
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .container {
    &_bl {
      &_turtle {
        &_content {
          &_elipse {
            @include wh-ht(120%, 9vh);
            left: -2vw;
            filter: blur(30px);
          }
        }
      }
    }
  }
}
