@import "../mixins.module";
@import "../variables.module";
@import "../common.module";

.elem {
  @include bl-flex-center(center, center, column, 2%);
  border-radius: 30px;
  padding: 1px;
  position: absolute;

  &:before {
    background: $back;
    content: "";
    border-radius: 30px;
    position: absolute;
    z-index: -1;
  }

  &:nth-child(1):before {
    @include wh-ht(116px, 52px);
  }

  &:nth-child(2):before {
    @include wh-ht(100%, 100%);
  }

  &:nth-child(3):before {
    @include wh-ht(100%, 100%);
  }

  p {
    @include size-color(12px, $grey);
    margin: 0;
  }

  &:nth-child(1) {
    @include wh-ht(116px, 52px);
    background: $ellipse-background-gradient;
    transform: translate(-95%, -14vh);

    & > p {
      &:nth-child(2) {
        font-size: 16px;
        color: white;
      }
    }
  }

  &:nth-child(2) {
    border: solid 1px $grey;
    @include wh-ht(65px, 29px);
    transform: translate(-195%, 8vh) rotate(-10deg);

    & > p {
      font-size: 7px;

      &:nth-child(2) {
        font-size: 9px;
      }
    }
  }

  &:nth-child(3) {
    border: solid 1px $grey;
    @include wh-ht(87px, 39px);
    transform: translate(155%, 4vh) rotate(15deg);

    & > p {
      font-size: 9px;

      &:nth-child(2) {
        font-size: 12px;
      }
    }
  }
}

.container {
  @include bl-flex-center(flex-start, center, column, 0);
  @include wh-ht(100%, 65vh);

  &_content {
    @include bl-flex-center(space-between, center, column, 5%);
    position: relative;
    color: white;

    &_swiperSlide {
      @include bl-flex-center(center, center, row, 0);
      @include wh-ht(100%, auto);
    }

    &_elipse {
      @extend .ellipse;
      @include wh-ht(85%, 18vh);
      filter: blur(10vw);
    }

    & > p {
      width: 85%;
    }
  }

  &_switcher {
    @include bl-flex-center(center, center, row, 0);
    width: 90%;
    max-width: 450px;

    & > button {
      @include wh-ht-r(32px, 32px, 30px);
      background: none;
      border: solid 0.5px white;
    }

    & > div {
      width: 60%;
      @include bl-flex-center(space-around, center, row, 0);

      & > div {
        @include wh-ht-r(11px, 11px, 30px);
      }
    }
  }
}

@media (min-height: 1024px) {
  .container {
    &_content {
      &_elipse {
        @include wh-ht(60%, 18vh);
        @include ellipse(55px, 0);
      }
    }
  }
}

@media (min-height: 600px) {
  .container {
    height: 70vh;
    &_content {
      &_elipse {
        @include wh-ht(60%, 18vh);
        @include ellipse(55px, 0);
      }

      &_swiperSlide {
        @include bl-flex-center(center, center, row, 0);
        @include wh-ht(75%, auto);
      }
    }
  }
}

@media (min-width: 320px) {
  .container {
    &_content {
      &_elipse {
        @include wh-ht(60%, 18vh);
        @include ellipse(55px, 0);
      }

      &_swiperSlide {
        @include bl-flex-center(center, center, row, 0);
        @include wh-ht(75%, auto);
      }
    }
  }
}



@media (min-height: 1024px) {
  .elem {
    &:nth-child(1) {
      transform: translate(-100%, -13vh);
    }

    &:nth-child(2) {
      transform: translate(-200%, 8vh) rotate(-20deg);
    }

    &:nth-child(3) {
      transform: translate(180%, 3vh) rotate(10deg);
    }
  }
}

@media (max-height: 800px) {
  .elem {
    &:nth-child(1) {
      transform: translate(-90%, -16.5vh);
    }

    &:nth-child(2) {
      transform: translate(-180%, 9vh) rotate(-20deg);
    }

    &:nth-child(3) {
      transform: translate(140%, 6vh) rotate(10deg);
    }
  }
}

@media (max-width: 344px) {
  .elem {
    &:nth-child(1) {
      transform: translate(-80%, -11vh);
    }

    &:nth-child(2) {
      transform: translate(-180%, 9vh) rotate(-20deg);
    }

    &:nth-child(3) {
      transform: translate(130%, 3vh) rotate(10deg);
    }
  }
}

@media (max-height: 568px) {
  .elem {
    &:nth-child(1) {
      transform: translate(-80%, -17vh);
    }

    &:nth-child(2) {
      transform: translate(-140%, 9vh) rotate(-20deg);
    }

    &:nth-child(3) {
      transform: translate(120%, 3vh) rotate(10deg);
    }
  }
}
