@import "../mixins.module";
@import "../variables.module";

.elem {
  @include bl-flex-center(center, center, column, 2%);
  border-radius: 30px;
  padding: 1px;
  position: absolute;

  &:before {
    background: $back;
    content: "";
    border-radius: 30px;
    position: absolute;
    z-index: -1;
  }

  &:nth-child(1):before {
    @include wh-ht(116px, 52px);
  }

  &:nth-child(2):before {
    @include wh-ht(100%, 100%);
  }

  &:nth-child(3):before {
    @include wh-ht(100%, 100%);
  }

  p {
    @include size-color(12px, $grey);
    margin: 0;
  }

  &:nth-child(1) {
    @include wh-ht(116px, 52px);
    background: $ellipse-background-gradient;
    transform: translate(-95%, 3vh);

    & > p {
      &:nth-child(2) {
        font-size: 16px;
        color: white;
      }
    }
  }

  &:nth-child(2) {
    border: solid 1px $grey;
    @include wh-ht(65px, 29px);
    transform: translate(-165%, 20vh) rotate(-10deg);

    & > p {
      font-size: 7px;

      &:nth-child(2) {
        font-size: 9px;
      }
    }
  }

  &:nth-child(3) {
    border: solid 1px $grey;
    @include wh-ht(87px, 39px);
    transform: translate(150%, 15vh) rotate(15deg);

    & > p {
      font-size: 9px;

      &:nth-child(2) {
        font-size: 12px;
      }
    }
  }
}

.container {
  @include bl-flex-center(flex-start, center, column, 0);
  @include wh-ht(100%, 72vh);

  &_content {
    height: 30vh;
    color: white;
    @include bl-flex-center(space-between, center, column, 5%);

    &_elipse {
      @include wh-ht(80%, 20vh);
      @include ellipse(45px, 1vh);
      z-index: -2;
    }

    & > img {
      z-index: 10;
    }

    & > p {
      width: 85%;
      height: 5vh;
      text-align: center;
      font-size: 17px;
    }
  }

  &_switcher {
    width: 100%;
    @include bl-flex-center(center, center, row, 5%);

    & > button {
      @include wh-ht-r(29px, 29px, 30px);
      background: none;
      border: solid 1px white;
    }

    & > div {
      width: 35%;
      @include bl-flex-center(space-around, center, row, 0);

      & > div {
        @include wh-ht-r(9px, 9px, 30px);
      }
    }
  }
}

@media (min-height: 1024px) {
  .container {
    &_content {
      &_elipse {
        @include wh-ht(55%, 13vh);
        @include ellipse(65px, 8vh);
      }
    }

    &_switcher {
      width: 100%;
      @include bl-flex-center(center, center, row, 2%);

      & > button {
        @include bl-flex-center(center, center, row, 0);
        @include wh-ht-r(40px, 40px, 30px);

        & > img {
          width: 10px;
        }
      }

      & > div {
        width: 30%;
        @include bl-flex-center(space-around, center, row, 0);

        & > div {
          @include wh-ht-r(10px, 10px, 30px);
        }
      }
    }
  }
}

@media (min-height: 1025px) {
  .elem {
    &:nth-child(1) {
      transform: translate(-120%, 5vh);
    }

    &:nth-child(2) {
      transform: translate(-205%, 20vh) rotate(-20deg);
    }

    &:nth-child(3) {
      transform: translate(175%, 15vh) rotate(10deg);
    }
  }
}

@media (max-height: 800px) {
  .elem {
    &:nth-child(1) {
      transform: translate(-80%, 1vh);
    }

    &:nth-child(2) {
      transform: translate(-130%, 19vh) rotate(-20deg);
    }

    &:nth-child(3) {
      transform: translate(120%, 15vh) rotate(10deg);
    }
  }
}
