@import "../mixins.module";
@import "../variables.module";
@import "../common.module";

.elem {
  @include bl-flex-center(center, center, column, 2%);
  border-radius: 30px;
  padding: 1px;
  position: absolute;

  &:before {
    background: $back;
    content: "";
    border-radius: 30px;
    position: absolute;
    z-index: -1;
  }

  &:nth-child(4):before {
    @include wh-ht(116px, 52px);
  }

  &:nth-child(2):before {
    @include wh-ht(100%, 100%);
  }

  &:nth-child(3):before {
    @include wh-ht(100%, 100%);
  }

  p {
    @include size-color(12px, $grey);
    margin: 0;
  }

  &:nth-child(4) {
    @include wh-ht(116px, 52px);
    background: $ellipse-background-gradient;
    transform: translate(-100%, -33vh);

    & > p {
      font-size: 11px;
      width: 100%;
      text-align: center;

      &:nth-child(2) {
        font-size: 16px;
        color: white;
      }
    }
  }

  &:nth-child(2) {
    border: solid 1px $grey;
    @include wh-ht(65px, 29px);
    transform: translate(-175%, -12vh) rotate(-10deg);

    & > p {
      width: 100%;
      text-align: center;
      font-size: 5px;

      &:nth-child(2) {
        font-size: 9px;
      }
    }
  }

  &:nth-child(3) {
    border: solid 1px $grey;
    @include wh-ht(87px, 39px);
    transform: translate(145%, -15vh) rotate(15deg);

    & > p {
      width: 100%;
      text-align: center;
      font-size: 7px;

      &:nth-child(2) {
        font-size: 12px;
      }
    }
  }
}

.container {
  @include bl-flex-center(center, center, column, 0);
  @include wh-ht(100%, $height-page);

  &_swiper {
    @include bl-flex-center(center, center, column, 0);
    width: 100%;

    &_slide {
      margin-bottom: 3vh;

      &_container {
        @include bl-flex-center(flex-end, center, column, 0);
        height: 60vh;

        &_content {
          flex-grow: 1;

          &_elipse {
            @extend .ellipse;
            @include wh-ht(75%, 15vh);
            filter: blur(50px);
          }

          @include bl-flex-center(flex-end, center, column, 0);

          & > img {
            z-index: 1;
            max-width: 80%;
          }
        }

        &_description {
          padding: 5px 0;
          height: 10vh;
          @include bl-flex-center(center, center, column, 0);

          & > p {
            text-align: center;
            color: white;
            width: 85%;
          }
        }
      }
    }
  }

  &_switcher {
    @include bl-flex-center(center, center, row, 0);
    width: 90%;
    max-width: 450px;
    margin-bottom: 15vh;

    & > button {
      @include wh-ht-r(32px, 32px, 30px);
      background: none;
      border: solid 0.5px white;
    }

    & > div {
      width: 60%;
      @include bl-flex-center(space-around, center, row, 0);

      & > div {
        @include wh-ht-r(11px, 11px, 30px);
      }
    }
  }
}

@media only screen and (max-device-height: 668px) {
  .elem {
    &:nth-child(4) {
      transform: translate(-100%, -33vh);
    }

    &:nth-child(2) {
      transform: translate(-175%, -10vh) rotate(-10deg);
    }

    &:nth-child(3) {
      transform: translate(145%, -15vh) rotate(15deg);
    }
  }
}

@media only screen and (min-device-height: 845px) {
  .elem {
    &:nth-child(4) {
      transform: translate(-100%, -27vh);
    }

    &:nth-child(2) {
      transform: translate(-185%, -9vh) rotate(-10deg);
    }

    &:nth-child(3) {
      transform: translate(155%, -13vh) rotate(15deg);
    }
  }
}

@media only screen and (min-device-height: 700px) and (max-device-height: 740px) {
  .elem {
    &:nth-child(4) {
      transform: translate(-100%, -27vh);
    }

    &:nth-child(2) {
      transform: translate(-185%, -9vh) rotate(-10deg);
    }

    &:nth-child(3) {
      transform: translate(140%, -13vh) rotate(15deg);
    }
  }
}

@media only screen and (min-device-height: 1024px) and (max-device-height: 1180px) {
  .elem {
    &:nth-child(4) {
      transform: translate(-110%, -26vh);
    }

    &:nth-child(2) {
      transform: translate(-195%, -9vh) rotate(-10deg);
    }

    &:nth-child(3) {
      transform: translate(170%, -13vh) rotate(15deg);
    }
  }
}

@media only screen and (min-device-height: 1180px) and (max-device-height: 1360px) {
  .elem {
    &:nth-child(4) {
      transform: translate(-110%, -22vh);
    }

    &:nth-child(2) {
      transform: translate(-205%, -7.5vh) rotate(-10deg);
    }

    &:nth-child(3) {
      transform: translate(180%, -12vh) rotate(15deg);
    }
  }
}

@media only screen and (min-device-height: 1360px) and (max-device-height: 1600px) {
  .elem {
    &:nth-child(4) {
      transform: translate(-110%, -19vh);
    }

    &:nth-child(2) {
      transform: translate(-205%, -7vh) rotate(-10deg);
    }

    &:nth-child(3) {
      transform: translate(180%, -10vh) rotate(15deg);
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  .elem {
    &:nth-child(4):before {
      @include wh-ht(106px, 42px);
    }

    &:nth-child(4) {
      @include wh-ht(106px, 42px);
      transform: translate(-90%, -32vh);

      & > p {
        font-size: 9px;
        width: 100%;
        text-align: center;

        &:nth-child(2) {
          font-size: 14px;
          color: white;
        }
      }
    }

    &:nth-child(2) {
      transform: translate(-165%, -8vh) rotate(-10deg);

      & > p {
        font-size: 6px;
        width: 100%;
        text-align: center;

        &:nth-child(2) {
          font-size: 10px;
        }
      }
    }

    &:nth-child(3) {
      & > p {
        font-size: 8px;
        width: 100%;
        text-align: center;

        &:nth-child(2) {
          font-size: 12px;
        }
      }

      transform: translate(122%, -12vh) rotate(15deg);
    }
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
  .elem {
    &:nth-child(4) {
      transform: translate(-100%, -33vh);
    }

    &:nth-child(2) {
      transform: translate(-200%, -10vh) rotate(-10deg);
    }

    &:nth-child(3) {
      transform: translate(160%, -16vh) rotate(15deg);
    }
  }
}

@media only screen and (max-device-width: 375px) and (min-device-height: 812px) {
  .elem {
    &:nth-child(4) {
      transform: translate(-100%, -27vh);
    }

    &:nth-child(2) {
      transform: translate(-190%, -8vh) rotate(-10deg);
    }

    &:nth-child(3) {
      transform: translate(150%, -13vh) rotate(15deg);
    }
  }
}

