@import '../mixins.module';
@import '../variables.module';

.container {
  @include bl-flex-center(center, flex-start, row, 0);
  @include wh-ht(100%, $height-page);

  &_lang {
    @include bl-flex-center(flex-start, center, column, 0);
    transition: 300ms;
    width: 100%;
    overflow: hidden;
    background: $back-linear-gradient-black;
    margin-top: 5%;

    &_button {
      @include bl-flex-center(center, center, column, 0);
      width: 100%;
      margin: 0.5% 0.5%;
      z-index: 1;

      & > button {
        width: 99.4%;
      }
    }

    &_choose {
      @include bl-flex-center(center, center, column, 0);
      color: white;
      width: 100%;

      & > p {
        @include bl-flex-center(flex-start, center, row, 5%);
        @include width-sz-al-cl(auto, 14px, center, auto);
        @include wh-ht(100%, 32px);
        margin: 5px;
        padding-left: 20%;

        &:hover {
          background: $back-linear-gradient-left;;
        }
      }
    }
  }
}

@media(max-height: 800px) {
  .container {
    &_lang {
      &_button {
        & > button {
          width: 99.5%;
          height: 6vh;
        }
      }
    }
  }
}

