@import '../mixins.module';
@import '../variables.module';
@import '../common.module';

.container {
  width: 100%;
  @include bl-flex-center(flex-start, center, column, 0);

  &_bl {
    width: 100%;
    color: white;

    &_border {
      @include wh-ht(100%, 1px);
      margin-top: 5%;
      background: $grey2;
    }

    &_stats {
      @include bl-flex-center(center, center, row, 5%);
      width: 100%;

      &_elipse {
        @extend .ellipse;
        @include wh-ht(50%, 5vh);
        filter: blur(30px);
      }

      &_win {
        z-index: 1;
        width: 49%;

        & > p {
          @include bl-flex-center(center, center, row, 0);
          @include wh-ht-r(100%, 4.5vh, 30px);
          background:$back-linear-gradient;
        }

        &_name {
          @include bl-flex-center(space-between, flex-end, row, 0);
          @include wh-ht(100%, 10vh);

          & > p {
            margin: 0;
            font-size: 12px;
          }

          & > div {
            @include bl-flex-center(flex-end, flex-start, column, 0);

            & > p {
              text-wrap: nowrap;
              font-family: DigitalICG;
              width: 62px;
              margin: 0;
              font-size: 16px;

              &:nth-child(1) {
                color: $grey;
                font-family: cygre-semibold;
              }
            }
          }
        }
      }

      &_bet {
        @include bl-flex-center(space-between, center, column, 0);
        z-index: 1;
        width: 49%;

        &_content {
          width: 100%;
          @include bl-flex-center(space-between, flex-end, row, 0);
          height: 10vh;
          overflow: hidden;

          & > img {
            @include bl-position-rl(5.3vh);
            width: 100px;
          }

          & > p {
            flex-grow: 1;
            font-size: 12px;
            margin: 0;
          }
        }

        & > p {
          @include bl-flex-center(center, center, row, 0);
          @include wh-ht-r(100%, 4.5vh, 5vh);
          background: $back-linear-gradient;
        }
      }
    }
  }
}

@media(max-height: 800px) {
  .container {
    top: 88vh;

    &_bl {
      &_stats {
        &_bet {
          &_content {
            & > img {
              @include bl-position-rl(5.5vh);
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media(min-height: 1024px) {
  .container {
    top: 88vh;

    &_bl {
      &_stats {
        &_elipse {
          @include wh-ht(40%, 4vh);
          left: 25%;
          filter: blur(40px);
        }

        &_bet {
          &_content {
            & > img {
              @include bl-position-rl(6.5vh);
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media(min-height: 1366px) {
  .container {
    top: 88vh;

    &_bl {
      &_stats {
        &_elipse {
          @include wh-ht(45%, 4vh);
          left: 20%;
          filter: blur(55px);
        }

        &_bet {
          &_content {
            & > img {
              @include bl-position-rl(6vh);
              width: 60%;
            }
          }
        }
      }
    }
  }
}
