@import './mixins.module';

.container {
  width: 100%;
  @include bl-flex-center(flex-start, center, column, 0);

  &_bl {
    margin-top: 5%;
    width: 100%;
    @include bl-flex-center(flex-start, center, column, 0);

    &_border {
      margin-top: 5%;
      width: 100%;
      height: 1px;
      background: linear-gradient(180deg, #A3B940 0%, #39712A 100%);
    }

    &_turtle {
      @include bl-flex-center(space-between, flex-start, row, 0);
      width: 100%;


      &_content {
        &_elipse {
          position: absolute;
          width: 40%;
          height: 5vh;
          transform: translate(15%);
          filter: blur(7vw);
          background: radial-gradient(circle, rgba(174, 255, 78, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
          box-shadow: 0 5px 5px rgba(186, 189, 28, 1);

          &:nth-child(1) {
            transform: translate(-45%);
            background: radial-gradient(circle, rgba(174, 255, 78, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
          }
        }

        @include bl-flex-center(center, center, row, 5%);
        width: 50%;
        height: 12vh;

        & > img {
          z-index: 2;
          width: 12vh;
        }

        p {
          color: white;
          font-family: digital;
        }
      }

      &_bet {
        @include bl-flex-center(space-around, center, column, 0);
        width: 50%;
        height: 12vh;
        border: 1px solid;

        & > p {
          margin: 0;
          @include bl-flex-center(center, center, row, 0);
          width: 90%;
          height: 34px;
          border-radius: 30px;
          color: white;
          //background: radial-gradient(64.71% 553.41% at 3.53% 14.86%, rgba(136, 138, 53, 0.3) 0%, rgba(1, 1, 1, 0.1) 100%);
          background:
                  radial-gradient(41.03% 100% at 50% 0%, rgba(136, 138, 53, 0.3) 0%, rgba(1, 1, 1, 0.1) 100%),
                  linear-gradient(179.93deg, #141414 -1.98%, #000000 99.94%);
        }
      }
    }
  }
}
