@import './mixins.module';

.ellipse {
  position: absolute;
  top: -1.5vh;
  width: 15vw;
  height: 0.5vh;
  background: radial-gradient(circle, rgba(174, 255, 78, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: blur(8px);
  box-shadow: 0 5px 5px rgba(186, 189, 28, 1);
}

.bt_connect_tg {
  font-size: 14px;
  background: rgba(0, 152, 234, 1);
  border-radius: 60px;
  @include bl-flex-center(center, center, row, 5px);
  width: 200px;
  height: 38px;
  color: white;
  border: none;
  cursor: pointer;
}

.bt_replenish_wallet {
  @include bl-flex-center(center, center, row, 10px);
  font-size: 14px;
  border-radius: 60px;
  color: white;
  cursor: pointer;
  background: rgba(1, 1, 1, 1);
  box-shadow: inset 0 1px 2px #A3B940, 0 1px 3px #39712A;
  border: none;

  img {
    width: 8px;
  }
}
