@import "./mixins.module";
@import "./variables.module";

.loading {
  position: absolute;
  @include bl-flex-center(center, center, column, 0);
  @include wh-ht(100%, 100vh);
  z-index: 100;
  background: #000000ab;

  & > img {
    z-index: 150;
    opacity: 1;
    width: 120px;
    height: 120px;
  }
}

.ellipse {
  max-width: 450px;
  background: $ellipse-background-gradient;
  box-shadow: 0 5px $lemon;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
}

.bt_connect_tg {
  @include bl-flex-center(center, center, row, 5px);
  @include wh-ht-r(220px, 45px, 60px);
  background: $blue;
  color: $white;
  font-size: 15px;
  border: none;
  box-shadow: 0 0 5px black;
}

.bt_default {
  @include bl-flex-center(center, center, row, 0);
  @include wh-ht-r(220px, 40px, 60px);
  color: $white;
  background: $back;
  position: relative;
  text-wrap: nowrap;
  font-size: 15px;
  border: none;

  &:before {
    @include wh-ht-r(100%, 100%, 60px);
    @include content-block($ellipse-background-gradient, -1px, -1px);
  }

  & > p {
    padding-left: 15px;
  }

  & > img {
    @include wh-ht(9px, 11px);
    margin-top: 0.2vh;
    transition: 300ms;
    padding: 0 10px;
  }
}
