@import './mixins.module';
@import './variables.module';

.ellipse {
  background: $ellipse-background-gradient;
  box-shadow: 0 5px $lemon;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
}

.bt_connect_tg {
  @include bl-flex-center(center, center, row, 5px);
  @include wh-ht-r(200px, 38px, 60px);
  background: $blue;
  color: $white;
  font-size: 14px;
  border: none;
}

.bt_default {
  @include bl-flex-center(center, center, row, 0);
  @include wh-ht-r(auto, 4.5vh, 60px);
  color: $white;
  background: $back;
  position: relative;
  text-wrap: nowrap;
  font-size: 14px;
  border: none;

  &:before {
    @include wh-ht-r(100%, 100%, 60px);
    @include content-block($ellipse-background-gradient, -1px, -1px);
  }

  & > p {
    padding-left: 15px;
    font-size: 14px;
  }

  & > img {
    @include wh-ht(9px, 11px);
    transition: 300ms;
    padding: 0 10px;
  }
}
