@import 'mixins.module';
@import 'variables.module';
@import 'common.module';

.container {
  width: 100%;
  height: 85vh;
  max-height: 70vh;
  border-radius: 30px;
  @include bl-flex-center(flex-start, center, column, 0);
  border-top: 2px solid;
  border-image-source: linear-gradient(90deg, #010101 0%, #71893F 51%, #010101 100%);
  border-image-slice: 1;
  background: linear-gradient(179.93deg, #141414 -1.98%, #000000 99.94%),
  radial-gradient(23.75% 58.62% at 50% 0%, rgba(136, 138, 53, 0.3) 0%, rgba(1, 1, 1, 0.1) 100%);

  &_bl {
    width: 100%;
    @include bl-flex-center(space-between, center, column, 10px);
    flex-grow: 1;


    &_footer {
      z-index: 2;
      height: 13vh;
      @include bl-flex-center(space-between, center, column, 0);

      &_button {
        @include bl-flex-center(center, center, column, 0);

        &_ellipse {
          @extend .ellipse;
          width: 55%;
          height: 4vh;
          filter: blur(35px);
        }
      }
    }

    &_list {
      width: 85%;
      height: 5vh;
      border-radius: 30em;
      @include bl-flex-center(space-between, center, row, 0);
      background: radial-gradient(64.71% 553.41% at 3.53% 14.86%, rgba(136, 138, 53, 0.3) 0%, rgba(1, 1, 1, 0.1) 100%);
      margin-top: 2vh;
      z-index: 1;

      & > button {
        height: 5vh;
      }

      &_hero {
        @include bl-flex-center(space-around, center, row, 0px);
        width: 50%;
        z-index: -1;

        & > div {
          width: 33px;
          height: 34px;
          border-radius: 30em;
          background: rgba(1, 1, 1, 1);

          & > img {
            transform: translateY(-3px);
            width: 100%;
          }
        }
      }

      & > button {
        width: 44%;
        position: absolute;
        left: 45%;
      }
    }
  }

  &_turtles {
    @include bl-flex-center(center, center, row, 0);
    height: 40vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 1;

    &_slider {
      width: 40%;
      position: relative;
      top: 40%;

      &_active {
        position: relative;
        top: -4vh;
        width: 100%;
        transform: scale(2);
      }

    }

    &_ton {
      @include bl-flex-center(center, center, column, 10%);
      position: absolute;
      width: 116px;
      height: 52px;
      border-radius: 30px;
      top: 10vh;
      left: 4%;
      background: $ellipse-background-gradient;
      padding: 1px;
      z-index: -1;

      &:before {
        width: 98%;
        height: 97%;
        background: black;
        content: "";
        border-radius: 30px;
        position: absolute;
      }

      & > p {
        z-index: 2;
        margin: 0;

        &:nth-child(1) {
          color: $grey-light;
          font-size: 12px;
        }

        &:nth-child(2) {
          color: white;
          font-size: 16px;
        }
      }
    }

    &_additional {
      width: 100%;
      height: 100%;
      position: absolute;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      top: 8vh;
      background: linear-gradient(rgba(113, 137, 63, 1) 26%, rgba(57, 113, 42, 1) 56%, rgba(0, 0, 0, 1) 70%);
      z-index: -1;
    }

    &_header {
      @include bl-flex-center(center, center, row, 0);
      width: 100%;
      height: 8vh;
      color: white;
      position: absolute;
      background: linear-gradient(179.93deg, #141414 -1.98%, #000000 99.94%),
      radial-gradient(23.75% 58.62% at 50% 0%, rgba(136, 138, 53, 0.3) 0%, rgba(1, 1, 1, 0.1) 100%);
      padding-bottom: 15vh;
      z-index: -2;
      border-radius: 30px 30px 0 0;
      top: 0;

      &_ellipse {
        @extend .ellipse;
        width: 5%;
        height: 2vh;
        top: -2vh;
        filter: blur(8px);
        background: rgba(186, 189, 28, 1);
      }

      &_ellipse:nth-child(2) {
        @extend .ellipse;
        width: 12%;
        height: 2vh;
        top: -2vh;
        filter: blur(30px);
        background: rgba(186, 189, 28, 1);
      }

      &_name {
        width: 150px;
        text-align: center;
        font-size: 16px;
        font-family: 'DigitalICG';
      }
    }

  }
}


@media(max-height: 800px) {
  .container {
    &_bl {

      &_footer {
        margin-top: 5vh;
        z-index: 2;
        height: 15vh;
        @include bl-flex-center(space-between, center, column, 0);

        &_button {
          @include bl-flex-center(center, center, column, 0);
        }
      }

      &_list {
        margin-top: 4vh;

        &_hero {
          & > div {
            width: 28px;
            height: 29px;

            & > img {
              transform: translateY(-2px);
            }
          }
        }
      }
    }

    &_turtles {
      &_slider {
        width: 32%;
      }

      &_ton {
        width: 110px;
        height: 48px;
        left: 3%;
        top: 23%;
      }
    }
  }
}

@media(min-height: 1024px) {
  .container {
    border-radius: 60px 60px 0 0;

    &_bl {

      &_footer {
        margin-top: 5vh;
        z-index: 2;
        height: 15vh;
        @include bl-flex-center(space-between, center, column, 0);

        &_button {
          @include bl-flex-center(center, center, column, 0);

          &_ellipse {
            width: 25%;
          }
        }
      }

      &_list {
        height: 6vh;
        margin-top: 4vh;

        &_hero {
          & > div {
            width: 50px;
            height: 51px;

            & > img {
              transform: translateY(-2px);
            }
          }
        }
      }
    }

    &_turtles {
      &_additional {
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
      }

      &_slider {
        width: 45%;
        top: -2vh;
        height: 17vh;

        &_active {
          position: relative;
          top: -2vh;
          transform: scale(2);
        }
      }

      &_header {
        border-radius: 60px 60px 0 0;
      }

      &_ton {
        width: 140px;
        height: 60px;
        left: 20%;
        top: 27%;
      }
    }
  }
}


@media(min-height: 1360px) {
  .container {
    &_turtles {
      &_ton {
        width: 155px;
        height: 61px;
        border-radius: 50px;
        left: 23%;
        top: 27%;
      }
    }
  }
}
