@import './variables.module';
//position-block
@mixin bl-flex-center($justify, $align, $direction, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin wh-ht($width, $height) {
  width: $width;
  height: $height;
}

@mixin wh-ht-r($width, $height,$radius) {
  width: $width;
  height: $height;
  border-radius: $radius;
}

@mixin back-bor-none() {
  background: none;
  border: none;
  outline: none;
}


//style-block
@mixin ellipse($blur, $translateY) {
  position: absolute;
  transform: translateY($translateY);
  background: $ellipse-background-gradient;
  filter: blur($blur);
  border-radius: 100%;
}

@mixin bl-position-ab($top) {
  position: absolute;
  top: $top;
}

@mixin bl-position-fx($top) {
  position: fixed;
  top: $top;
}

@mixin bl-position-rl($top) {
  position: relative;
  top: $top;
}


@mixin border-im-sce($bis, $border) {
  border-image-slice: 1;
  border-image-source: $bis;
  border: $border;
}

//style-text
@mixin size-color($size,$color) {
  font-size: $size;
  color: $color;
}

@mixin width-sz-al-cl($width,$sz:14px,$al,$cl) {
  width: $width;
  font-size: $sz;
  text-align: $al;
  color: $cl;
}

//style-other
@mixin ellipse-default($trY,$blur, $background) {
  transform: translateY($trY);
  filter: blur($blur);
  background: $background;
}

@mixin content-block($back,$left,$top) {
  content: '';
  position: absolute;
  left: $left;
  top: $top;
  z-index: -1;
  border-radius: 60px;
  padding: 1px;
  background: $back;
}
