@import 'mixins.module';

.container {
  position: absolute;
  top: 90vh;
  width: 90%;
  z-index: 10;

  &_links {
    height: 48px;
    border-radius: 50vw;
    @include bl-flex-center(space-around, center, row, 5%);
    background: radial-gradient(40.51% 100% at 20.28% 0%, rgba(136, 138, 53, 0.3) 0%, rgba(1, 1, 1, 0.1) 100%);

    & > button {
      margin: 3.5% 0;
      @include bl-flex-center(center, center, row, 0);
      flex-grow: 1;
      width: 100%;
      border-radius: 100px;
      cursor: pointer;
      border: none;
      background: none;
    }
  }
}

@media(max-width: 576px) {
  .container {
    top: 90vh;
  }
}

@media(max-width: 1000px) {
  .container {
    top: 90vh;
  }
}

