@import 'mixins.module';

.container {
  width: 100%;
  @include bl-flex-center(flex-start, center, column, 0);

  &_bl {
    width: 100%;

    &_border {
      margin-top: 5%;
      width: 100%;
      height: 1px;
      background: rgba(29, 29, 29, 1);
    }

    &_stats {
      overflow: hidden;
      color: white;
      width: 100%;
      @include bl-flex-center(center, center, row, 5%);
      &_elipse {
        position: absolute;
        width: 50%;
        border-radius: 30px;
        transform: translateY(10%);
        height: 4vh;
        background: linear-gradient(180deg, #A3B940 0%, #39712A 100%);
        filter: blur(40px);
        box-shadow: 0 5px 5px rgba(186, 189, 28, 1);
      }

      &_win {
        z-index: 1;
        width: 49%;

        & > p {
          @include bl-flex-center(center, center, row, 0);
          border-radius: 30px;
          width: 100%;
          height: 38px;
          background: radial-gradient(41.03% 100% at 50% 0%, rgba(136, 138, 53, 0.3) 0%, rgba(1, 1, 1, 0.1) 100%),
          linear-gradient(179.93deg, #141414 -1.98%, #000000 99.94%);
        }

        &_name {
          height: 10vh;
          @include bl-flex-center(space-between, flex-end, row, 0);
          width: 100%;

          & > p {
            margin: 0;
            font-size: 12px;
          }

          & > div {
            @include bl-flex-center(flex-end, flex-start, column, 0);

            & > p {
              font-family: digital;
              width: 62px;
              margin: 0;
              font-size: 16px;

              &:nth-child(1) {
                color: rgba(112, 112, 112, 1);
                font-size: 12px;
                font-family: cygre-semibold;
              }
            }
          }
        }
      }

      &_bet {
        z-index: 1;
        width: 49%;
        @include bl-flex-center(space-between, center, column, 0);

        &_content {
          @include bl-flex-center(space-between, flex-end, row, 0);
          height: 10vh;
          overflow: hidden;

          img {
            position: relative;
            top: 45%;
            width: 45%;
            height: auto;
          }

          & > p {
            font-size: 12px;
            margin: 0;
          }
        }

        & > p {
          @include bl-flex-center(center, center, row, 0);
          border-radius: 30px;
          width: 100%;
          height: 38px;
          background: radial-gradient(41.03% 100% at 50% 0%, rgba(136, 138, 53, 0.3) 0%, rgba(1, 1, 1, 0.1) 100%),
          linear-gradient(179.93deg, #141414 -1.98%, #000000 99.94%);

        }
      }
    }
  }

}
