//colors
$yellow-ellipse: #A3B940;
$green-ellipse: #39712A;
$grey-light: rgba(112, 112, 112, 1);
$black: rgba(1, 1, 1, 1);
$dark-grey: rgba(29, 29, 29, 1);

//backgrounds
$ellipse-background-gradient: linear-gradient(180deg, $yellow-ellipse 0%, $green-ellipse 100%);
$yellow-shadow: 0 5px 5px rgba(186, 189, 28, 1);
$lime-background: radial-gradient(circle, rgba(174, 255, 78, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
$back-linear-gradient: radial-gradient(41.03% 100% at 50% 0%, rgba(136, 138, 53, 0.3) 0%, rgba(1, 1, 1, 0.1) 100%),
linear-gradient(179.93deg, #141414 -1.98%, #000000 99.94%);
$back-linear-gradient-left: radial-gradient(64.71% 553.41% at 3.53% 14.86%, rgba(136, 138, 53, 0.3) 0%, rgba(1, 1, 1, 0.1) 100%);
$back-linear-gradient-black: linear-gradient(0deg, rgba(0, 0, 0, 1) 30%, rgba(20, 20, 20, 1) 60%, rgba(0, 0, 0, 1) 100%);
$back-linear-gradient-top-bottom: linear-gradient(90deg, #010101 0%, #3F4B25 51%, #010101 100%);
$back-gradient-value-ton: linear-gradient(90deg, #010101 0%, #71893F 20%, #010101 100%);

//block
$height-page: 85vh;
$width-page: 100%;

