@font-face {
    font-family: "cygre-semibold";
    src: url("../fonts/cygre-semibold.ttf") format("woff2"),
    url("../fonts/cygre-semibold.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DigitalICG";
    src: url("../fonts/digitalicg.ttf") format("woff2"),
    url("../fonts/digitalicg.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: #010101;
}

p {
    font-family: cygre-semibold, Calibri;
    font-size: 15px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    p {
        font-family: "Calibri";
    }
}

img {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    margin-top: 18vh;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
