@font-face {
  font-family: "cygre-semibold";
  src:
    url("../fonts/cygre-semibold.ttf") format("woff2"),
    url("../fonts/cygre-semibold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DigitalICG";
  src:
    url("../fonts/digitalicg.ttf") format("woff2"),
    url("../fonts/digitalicg.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #010101;
}

p {
  font-family: system-ui, cygre-semibold;
  font-size: 14px;
}

img,
button {
  cursor: pointer;
}

.swiper-slide img {
  transition: 300ms;
}